*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
}
ul{
    display: flex;
    width: 400px;
    flex-direction: column;
    background-color: rgba(173, 173, 173, 0.24);
    backdrop-filter: blur(2px);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.442);
    height: inherit;
}
.list{
    text-decoration: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    content: '';
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 4rem;
    padding: 2rem;
}   

.list::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-390px);
    transition: 0.75s;
    z-index: -1;
}


.home::before{
    background-color: #5366c3;
}

.home:hover::before{
    transform: translateX(0);
}

.about::before{
    background-color: #3f83c0;
}
.about:hover::before{
    transform: translateX(0);
}

.work::before{
    background-color: #2aa1bd;
}
.work:hover::before{
    transform: translateX(0);
}


.contact::before{
    background-color: #15bfbb;
}
.contact:hover::before{
    transform: translateX(0);
}

